commands:
  01_copy_shib_key:
      command: aws s3 cp s3://elasticbeanstalk-us-east-1-253708211841/shib/shibd.key /etc/shibboleth/
  02_copy_shib_csr:
      command: aws s3 cp s3://elasticbeanstalk-us-east-1-253708211841/shib/shibd.crt /etc/shibboleth/
  # this is a combo file with the cert and the intermediates
  03_copy_ssl_crt:
      command: aws s3 cp s3://elasticbeanstalk-us-east-1-253708211841/certs/hydrox-dev.cert /etc/pki/tls/certs/hydrox-dev.crt
  04_copy_ssl_key:
      command: aws s3 cp s3://elasticbeanstalk-us-east-1-253708211841/certs/hydrox-dev.key /etc/pki/tls/private/
