commands:
  01_copy_fits_zip:
      command: aws s3 cp s3://elasticbeanstalk-us-east-1-253708211841/assets/fits-1.2.0.zip /opt/fits/

container_commands:
  01_unzip_fits:
    command: unzip /opt/fits/fits-1.2.0.zip -d /opt/fits/
  02_symlink_fits:
    command: ln -sf /opt/fits/fits-1.2.0/fits.sh /usr/local/bin/fits.sh
