packages:
  yum:
    libXinerama: []
    dbus-glib: []

sources:
  /opt/libre_office: http://download.documentfoundation.org/libreoffice/stable/5.3.7/rpm/x86_64/LibreOffice_5.3.7_Linux_x86-64_rpm.tar.gz

container_commands:
  01_install_rpms:
    command: rpm -ivh /opt/libre_office/LibreOffice_5.3.7.2_Linux_x86-64_rpm/RPMS/*.rpm
    ignoreErrors: true
  02_symlink_soffice:
    command: ln -sf /opt/libreoffice5.3/program/soffice /usr/local/bin/soffice
